.greeting {
    background-color: rgb(249, 166, 205);
    padding: 60px 0;
}



.content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;

    padding: 0 20px;
}

.text{
    width: 350px;
}

.photo {
    width: 250px;
    height: 250px;
    background-color: rgb(204, 204, 204);
}