.body {
    background-color: rgb(237, 201, 237);
    padding: 60px 0;
}

.content {
    width: 100%;
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border: 1px solid black;
}

.title span {
    background-color: rgb(192, 187, 187);
}


.works {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}