.body {
    background-color: rgb(166, 249, 199);
    padding: 60px 0 10px 0;
}

.content {
    width: 100%;
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border: 1px solid black;
}

.items {
    width: 300px;
    margin: 20px auto;

    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    width: 50px;
    height: 50px;
    background-color: grey;
}

.copyright {
    text-align: center;
}