.body {
    background-color: rgb(249, 166, 205);
    padding: 60px 0;
}

.content {
    width: 100%;
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border: 1px solid black;
}

.form {
width: 300px;
margin: 20px auto;

border: 1px solid black;
text-align: center;
}

.form input {
    width: 100%;
}

.form textarea {
    width: 100%;
}