.body {
    background-color: rgb(249, 166, 205);
    padding: 60px 0;
}

.content {
    width: 100%;
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border: 1px solid black;
}

.form {
max-width: 310px;
margin: 20px auto;

display: flex;
flex-direction: column;
align-items: center;
gap: 5px;

border: 1px solid black;
}

.form input {
    width: 100%;
}

.form textarea {
    width: 100%;
}

.form button {
    min-width: 10px;
}
