.body {
    background-color: rgb(237, 231, 201);
    padding: 60px 0;
}

.content {
    width: 100%;
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border: 1px solid black;
}

.hire {
padding: 20px 0 ;
text-align: center;
}